//BGC

// $primary-color:rgb(238,240,226);
$primary-color:#1D515F;
$secondary-color:rgb(246,232,206);
$third-color:rgb(193,47,58);


//FONTS
$primary-font-color:#F7F3DA;
$secondary-font-color:#1D515F;

// $primary-font-color:black;
// $secondary-font-color:#0f5966;
$third-font-color:rgb(193,47,58);
$fourth-font-color:rgb(246,232,206);
